/* стили блок nav с ссылками RU EN (в шапке ) */
.header__lang-links {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: 29px 29px;
  grid-template-rows: 28px;
  gap: 18px;
  padding-top: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    grid-template-columns: 22px 22px;
    grid-template-rows: 20px;
    padding-top: 14px;
  }
}